{% extends "base.html" %}

{% block title %}
Log in
{% endblock %}

{% block content %}
    <!--  Product Section Begin -->
<!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>{{user.username}}</h4>
                            <ul>
                               <li><a href="/add">Add recipe</a></li>
                                <li><a href="/share_recipe">Shared recipes</a></li>
                                <li><a href="/favore_recipe">Favorite recipes</a></li>
                                <li><a href="/shop_list">Shopping List</a></li>
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/change_password">Change Password</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                  <div class="signin__form">
                        <div class="tab-content">
                                <div class="signin__form__text">
                                    <form action="{% url 'change_password' %}" method='POST' >
                                        {% csrf_token %}
                                        {{ form }}
                                        <button type="submit" class="site-btn">Save changes</button>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Product Section End -->
{% endblock %}

{% block script %}

{% endblock %}