{% extends "base.html" %}

{% block title %}
Update Recipe
{% endblock %}

{% block content %}
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>{{user.username}}</h4>
                            <ul>
                                <li><a href="/add">Add recipe</a></li>
                                <li><a href="/share_recipe">Shared recipes</a></li>
                                <li><a href="/favore_recipe">Favorite recipes</a></li>
                                <li><a href="/shop_list">Shopping List</a></li>
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/change_password">Change Password</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="product__discount">
                        <div class="section-title product__discount__title">
                            <h2>Update recipe</h2>
                        </div>
                        <div class="row">
                            <div class="checkout__form">
                                <form action="/edit/{{recipe.id}}" method='POST' id="share_form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-8 col-md-6">
                                            <div class="checkout__input">
                                                <p>Recipe title<span>*</span></p>
                                                <input name="name" type="text" required value="{{recipe.name}}">
                                            </div>
                                            <div class="checkout__input">
                                                <p>Description<span>*</span></p>
                                                <textarea class="input-description" name="description" form="share_form" placeholder="Recipe Description" rows="4">{{recipe.description}}</textarea>
                                            </div>
                                            <div class="checkout__input">
                                                <p>Note</p>
                                                <textarea class="input-note" name="note" form="share_form" placeholder="Recipe Note" rows="3">{{recipe.note}}</textarea>
                                            </div>
                                            <div class="checkout__input">
                                                <p>Ingredients<span>*</span></p>
                                                <p><span>Put each ingredient on its own line.</span></p>
                                                <textarea class="input-description" name="ingredient" form="share_form" placeholder="1 chicken breast
2 eggs
200 g of all-purpose flour
..." rows="8">{{ingredients}}</textarea>
                                            </div>
                                            <div class="checkout__input">
                                                <p>Directions<span>*</span></p>
                                                <textarea class="input-description" name="direction" form="share_form" placeholder="Put each step on its own line." rows="10">{{directions}}</textarea>
                                            </div>

                                        </div>
                                        <div class="col-lg-4 col-md-6">
                                            <div class="checkout__add">
                                                <h4>Add Image</h4>
                                                <div class="row">
                                                    <div class="col-sm-12 imgUp">
                                                        <div class="imagePreview" style="background:url('{{recipe.images.url}}');"></div>
                                                    <label class="btn btn-primary">
                                                    Upload<input type="file" name="image-file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                                    </label>
                                                      </div><!-- col-2 -->
                                                      <!-- <i class="fa fa-plus imgAdd"></i> -->
                                                    <div class="col-lg-6">
                                                        <div class="checkout__input">
                                                            <p>Cook Time:<span>*</span></p>
                                                            <input name="cook" type="number" min="0" step="0.01" value="{{cook}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="checkout__input">
                                                            <p>Unit<span>*</span></p>
                                                            <select id="cookTimeUnit" name="cookTimeUnit" >
                                                                <option value="1">Minutes</option>
                                                                {% if cook_unit == 60 %}
                                                                    <option value="60" selected>Hours</option>
                                                                {% else %}
                                                                    <option value="60" >Hours</option>
                                                                {% endif %}
                                                                {% if cook_unit == 1440 %}
                                                                    <option value="1440" selected>Days</option>
                                                                {% else %}
                                                                    <option value="1440">Days</option>
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="checkout__input">
                                                            <p>Prep Time:<span></span></p>
                                                            <input name="prep" type="number" min="0" step="0.01" value="{{prep}}">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="checkout__input">
                                                            <p>Unit<span>*</span></p>
                                                            <select id="prepTimeUnit" name="prepTimeUnit">
                                                                <option value="1">Minutes</option>
                                                                {% if prep_unit == 60 %}
                                                                    <option value="60" selected>Hours</option>
                                                                {% else %}
                                                                    <option value="60" >Hours</option>
                                                                {% endif %}
                                                                {% if prep_unit == 1440 %}
                                                                    <option value="1440" selected>Days</option>
                                                                {% else %}
                                                                    <option value="1440">Days</option>
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="checkout__input">
                                                            <p>Servers:<span>*</span></p>
                                                            <input name="servings" type="number" min="1" step="1" value="{{recipe.servings}}">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                    <div class="checkout__input">
                                                        <p>Category<span>*</span></p>
                                                        <input type="text" id="form-tags-2" name="category" class="form-control" required placeholder="Add category" value="{{categorys}}">
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button  type="submit" class="site-btn">Update recipe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
{% endblock %}

{% block script %}

{% endblock %}