{% extends "base.html" %}

{% block title %}
Log in
{% endblock %}

{% block content %}
<!--  Product Section Begin -->
  <section class="product spad" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
              <div class="alert alert-success">
                <strong>Sorry !</strong> Your account has been locked ! If you have any questions, please email <strong>familymeal@gamil.com</strong>
              </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block script %}

{% endblock %}