{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<!-- Latest Product Section Begin -->
    <section class="latest-product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Fastest cooking time</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for rec in fastest_recipe1 %}
                                <a href="detail/{{rec.id}}" class="latest-product__item">
                                    <div class="col-lg-6 col-md-6">
                                    <div class="latest-product__item__pic">
                                        <img src="{{rec.images.url}}"  alt="{{rec.name}}">
                                    </div>
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{rec.name}}</h6>
                                        <span>
                                            <ul>
                                                <li><i class="fa fa-calendar-o"></i> {{rec.create_at|date:"d-m-Y"}}</li>
                                                <li><i class="fa fa-comment-o"></i> {{rec.recipe_review.count}}</li>
                                            </ul>
                                        </span>
                                        <!-- <p>by <a href="#">admin</a></p> -->
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% for rec in fastest_recipe2 %}
                                <a href="detail/{{rec.id}}" class="latest-product__item">
                                    <div class="col-lg-6 col-md-6">
                                    <div class="latest-product__item__pic">
                                        <img src="{{rec.images.url}}"  alt="{{rec.name}}">
                                    </div>
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{rec.name}}</h6>
                                        <span>
                                            <ul>
                                                <li><i class="fa fa-calendar-o"></i> {{rec.create_at|date:"d-m-Y"}}</li>
                                                <li><i class="fa fa-comment-o"></i> {{rec.recipe_review.count}}</li>
                                            </ul>
                                        </span>
                                        <!-- <p>by <a href="#">admin</a></p> -->
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Top Rated Recipes</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                               {% for rec in top_rate1 %}
                                <a href="detail/{{rec.id}}" class="latest-product__item">
                                    <div class="col-lg-6 col-md-6">
                                    <div class="latest-product__item__pic">
                                        <img src="{{rec.images.url}}"  alt="{{rec.name}}">
                                    </div>
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{rec.name}}</h6>
                                        <span>
                                            <ul>
                                                <li><i class="fa fa-calendar-o"></i> {{rec.create_at|date:"d-m-Y"}}</li>
                                                <li><i class="fa fa-comment-o"></i> {{rec.recipe_review.count}}</li>
                                            </ul>
                                        </span>
                                        <!-- <p>by <a href="#">admin</a></p> -->
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% for rec in top_rate2 %}
                                <a href="detail/{{rec.id}}" class="latest-product__item">
                                    <div class="col-lg-6 col-md-6">
                                    <div class="latest-product__item__pic">
                                        <img src="{{rec.images.url}}"  alt="{{rec.name}}">
                                    </div>
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{rec.name}}</h6>
                                        <span>
                                            <ul>
                                                <li><i class="fa fa-calendar-o"></i> {{rec.create_at|date:"d-m-Y"}}</li>
                                                <li><i class="fa fa-comment-o"></i> {{rec.recipe_review.count}}</li>
                                            </ul>
                                        </span>
                                        <!-- <p>by <a href="#">admin</a></p> -->
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="latest-product__text">
                        <h4>Review Recipes</h4>
                        <div class="latest-product__slider owl-carousel">
                            <div class="latest-prdouct__slider__item">
                                {% for rec in review_recipe1 %}
                                <a href="detail/{{rec.id}}" class="latest-product__item">
                                    <div class="col-lg-6 col-md-6">
                                    <div class="latest-product__item__pic">
                                        <img src="{{rec.images.url}}"  alt="{{rec.name}}">
                                    </div>
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{rec.name}}</h6>
                                        <span>
                                            <ul>
                                                <li><i class="fa fa-calendar-o"></i> {{rec.create_at|date:"d-m-Y"}}</li>
                                                <li><i class="fa fa-comment-o"></i> {{rec.recipe_review.count}}</li>
                                            </ul>
                                        </span>
                                        <!-- <p>by <a href="#">admin</a></p> -->
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="latest-prdouct__slider__item">
                                {% for rec in review_recipe2 %}
                                <a href="detail/{{rec.id}}" class="latest-product__item">
                                    <div class="col-lg-6 col-md-6">
                                    <div class="latest-product__item__pic">
                                        <img src="{{rec.images.url}}"  alt="{{rec.name}}">
                                    </div>
                                    </div>
                                    <div class="latest-product__item__text">
                                        <h6>{{rec.name}}</h6>
                                        <span>
                                            <ul>
                                                <li><i class="fa fa-calendar-o"></i> {{rec.create_at|date:"d-m-Y"}}</li>
                                                <li><i class="fa fa-comment-o"></i> {{rec.recipe_review.count}}</li>
                                            </ul>
                                        </span>
                                        <!-- <p>by <a href="#">admin</a></p> -->
                                    </div>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <section class="from-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title from-blog__title">
                        <h2>Newest recipes</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for rec in new_recipe2 %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{{rec.images.url}}" alt="{{rec.name}}" style="height:25rem;object-fit: cover;">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> {{rec.create_at|date:"d-m-Y"}}</li>
                                <li><i class="fa fa-comment-o"></i> {{rec.recipe_review.count}}</li>
                            </ul>
                            <h5><a href="/detail/{{rec.id}}">{{rec.name}}</a></h5>
                            <p>{{rec.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for rec in new_recipe1 %}
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="{{rec.images.url}}" alt="{{rec.name}}" style="height:25rem;object-fit: cover;">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> {{rec.create_at|date:"d-m-Y"}}</li>
                                <li><i class="fa fa-comment-o"></i> {{rec.recipe_review.count}}</li>
                            </ul>
                            <h5><a href="/detail/{{rec.id}}">{{rec.name}}</a></h5>
                            <p>{{rec.description}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Blog Section End -->

    <!-- Featured Section Begin -->
    <section class="featured spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Featured Product</h2>
                    </div>
                    <div class="featured__controls">
                        <ul>
                            <li class="active" data-filter="*">All</li>
                            <li data-filter=".Seafood">Seafood</li>
                            <li data-filter=".Healthy">Healthy</li>
                            <li data-filter=".Vegetables">Vegetables</li>
                            <li data-filter=".Snacks">Snacks</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row featured__filter">
                {% for cat in category %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix {{cat.name}}">
                    <div class="featured__item">
                        <div class="featured__item__pic set-bg" data-setbg="{{cat.recipe.images.url}}">
                            <ul class="featured__item__pic__hover">
                                <li><a href="detail/{{cat.recipe.id}}"><i class="fa fa-heart"></i></a></li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                        </div>
                        <div class="featured__item__text">
                            <h6><a href="#">{{cat.recipe.name}}</a></h6>
                            <p>by <a href="">{{cat.recipe.user.username}}</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Featured Section End -->
{% endblock %}

{% block script %}

{% endblock %}