{% extends "base.html" %}

{% block title %}
Recipe detail
{% endblock %}

{% block content %}
<!-- Recipe Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="product__details__text">
                    <h2>Vetgetable’s Package</h2>
                    <div class="row">
                        <div class="col-lg-2 col-md-4">
                            <div class="product__details__rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>
                                <span>(18 reviews)</span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <span><i class="fa fa-calendar-o"></i> May 4,2019</span>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <span><i class="fa fa-address-book" aria-hidden="true"></i> by <a href="#">admin</a></span>
                        </div>
                    </div>
                    <p>Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Vestibulum ac diam sit amet quam
                        vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Vestibulum ac diam sit amet
                        quam vehicula elementum sed sit amet dui. Proin eget tortor risus.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="img/product/details/product-details-1.jpg" alt="">
                        </div>
                        <!-- <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="img/product/details/product-details-2.jpg"
                                src="img/product/details/thumb-1.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-3.jpg"
                                src="img/product/details/thumb-2.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-5.jpg"
                                src="img/product/details/thumb-3.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-4.jpg"
                                src="img/product/details/thumb-4.jpg" alt="">
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="checkout__order">
                        <div class="checkout__order__products"><i class="fa fa-clock-o"></i> Prep: <span>15 mins</span></div>
                        <div class="checkout__order__products"><i class="fa fa-clock-o"></i> Cook: <span>45 mins</span></div>
                        <div class="checkout__order__products"><i class="fa fa-user-o"></i> Servings: <span>8</span></div>
                        <button  type="submit" class="btn btn-outline-secondary">Nutrition Info</button>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Reviews <span>(1)</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <h6 class="font-weight-bold">INGREDIENTS</h6>
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item">
                                                <!-- Default checked -->
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="check1">
                                                    <label class="custom-control-label" for="check1">Check me</label>
                                                </div>
                                                </li>
                                                <li class="list-group-item">
                                                <!-- Default checked -->
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="check2">
                                                    <label class="custom-control-label" for="check2">Check me</label>
                                                </div>
                                                </li>
                                                <li class="list-group-item">
                                                <!-- Default checked -->
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="check3">
                                                    <label class="custom-control-label" for="check3">Check me</label>
                                                </div>
                                                </li>
                                                <li class="list-group-item">
                                                <!-- Default checked -->
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="check4">
                                                    <label class="custom-control-label" for="check4">Check me</label>
                                                </div>
                                                </li>
                                                <li class="list-group-item">
                                                <!-- Default checked -->
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="check5">
                                                    <label class="custom-control-label" for="check5">Check me</label>
                                                </div>
                                                </li>
                                            </ul>
                                            <br>
                                            <button  type="submit" class="btn btn-outline-secondary">Add to shopping list</button>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <h6 class="font-weight-bold">DIRECTIONS</h6>
                                            <ol class="list-group">
                                                <li class="list-group-item list-group-item-action"><strong>Step 1:</strong> - no special actions required, all sites you make with Mobirise are mobile-friendly. You don't have to create a special mobile version of your site, it will adapt automagically. <a href="https://mobirise.com/">Try it now!</a></li>
                                                <li class="list-group-item list-group-item-action"><strong>Step 2:</strong> - cut down the development time with drag-and-drop website builder. Drop the blocks into the page, edit content inline and publish - no technical skills required. <a href="https://mobirise.com/">Try it now!</a></li>
                                                <li class="list-group-item list-group-item-action"><strong>Step 3:</strong> - choose from the large selection of latest pre-made blocks - full-screen intro, bootstrap carousel, content slider, responsive image gallery with lightbox, parallax scrolling, video backgrounds, hamburger menu, sticky header and more. <a href="https://mobirise.com/">Try it now!</a></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <button type="submit" class="site-btn" data-toggle="modal" data-target="#addreview">Add Rating & Review</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rating-block">
                                            <h4>Average user rating</h4>
                                            <h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
                                            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                              <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <h4>Rating breakdown</h4>
                                        <div class="pull-left">
                                            <div class="pull-left" style="width:35px; line-height:1;">
                                                <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
                                            </div>
                                            <div class="pull-left" style="width:180px;">
                                                <div class="progress" style="height:9px; margin:8px 0;">
                                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
                                                    <span class="sr-only">80% Complete (danger)</span>
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="pull-right" style="margin-left:10px;">1</div>
                                        </div>
                                        <div class="pull-left">
                                            <div class="pull-left" style="width:35px; line-height:1;">
                                                <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
                                            </div>
                                            <div class="pull-left" style="width:180px;">
                                                <div class="progress" style="height:9px; margin:8px 0;">
                                                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
                                                    <span class="sr-only">80% Complete (danger)</span>
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="pull-right" style="margin-left:10px;">1</div>
                                        </div>
                                        <div class="pull-left">
                                            <div class="pull-left" style="width:35px; line-height:1;">
                                                <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
                                            </div>
                                            <div class="pull-left" style="width:180px;">
                                                <div class="progress" style="height:9px; margin:8px 0;">
                                                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
                                                    <span class="sr-only">80% Complete (danger)</span>
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="pull-right" style="margin-left:10px;">0</div>
                                        </div>
                                        <div class="pull-left">
                                            <div class="pull-left" style="width:35px; line-height:1;">
                                                <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
                                            </div>
                                            <div class="pull-left" style="width:180px;">
                                                <div class="progress" style="height:9px; margin:8px 0;">
                                                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
                                                    <span class="sr-only">80% Complete (danger)</span>
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="pull-right" style="margin-left:10px;">0</div>
                                        </div>
                                        <div class="pull-left">
                                            <div class="pull-left" style="width:35px; line-height:1;">
                                                <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
                                            </div>
                                            <div class="pull-left" style="width:180px;">
                                                <div class="progress" style="height:9px; margin:8px 0;">
                                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
                                                    <span class="sr-only">80% Complete (danger)</span>
                                                  </div>
                                                </div>
                                            </div>
                                            <div class="pull-right" style="margin-left:10px;">0</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <hr/>
                                        <div class="review-block">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                                    <div class="review-block-name"><a href="#">nktailor</a></div>
                                                    <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="review-block-rate">
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="review-block-title">this was nice in buy</div>
                                                    <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                                    <div class="review-block-name"><a href="#">nktailor</a></div>
                                                    <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="review-block-rate">
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="review-block-title">this was nice in buy</div>
                                                    <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                                    <div class="review-block-name"><a href="#">nktailor</a></div>
                                                    <div class="review-block-date">January 29, 2016<br/>1 day ago</div>
                                                </div>
                                                <div class="col-sm-9">
                                                    <div class="review-block-rate">
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                        <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                          <span class="fa fa-star" aria-hidden="true"></span>
                                                        </button>
                                                    </div>
                                                    <div class="review-block-title">this was nice in buy</div>
                                                    <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recipe Details Section End -->

    <!-- The Modal Search by Ingredient -->
    <div id="addreview" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="col-12 modal-title text-center">Review this recipe</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                        <div class="col-lg-6">
                            <div class="rating">
                                <label>
                                  <input type="radio" name="stars" value="1" />
                                  <span class="icon">★</span>
                                </label>
                                <label>
                                  <input type="radio" name="stars" value="2" />
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                </label>
                                <label>
                                  <input type="radio" name="stars" value="3" />
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                </label>
                                <label>
                                  <input type="radio" name="stars" value="4" />
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                </label>
                                <label>
                                  <input type="radio" name="stars" value="5" />
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                </label>
                              </div>
                            <div class="form-group">
                                <textarea class="review" id="review" placeholder="What did you think about this recipe? Did you make any changes or notes? " rows="4"></textarea>
                                </textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Upload Image</label>
                                <div class="col-sm-12 imgUp">
                                    <div class="imagePreview"></div>
                                <label class="btn btn-primary">
                                Upload<input type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                </label>
                            </div>
                            </div>

                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="search-btn" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- The Modal Search by Ingredient -->

    <!-- Related Blog Section Begin -->
    <section class="related-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related-blog-title">
                        <h2>Related Recipe</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/blog-1.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Cooking tips make cooking simple</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">6 ways to prepare breakfast for 30</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="blog__item">
                        <div class="blog__item__pic">
                            <img src="img/blog/blog-3.jpg" alt="">
                        </div>
                        <div class="blog__item__text">
                            <ul>
                                <li><i class="fa fa-calendar-o"></i> May 4,2019</li>
                                <li><i class="fa fa-comment-o"></i> 5</li>
                            </ul>
                            <h5><a href="#">Visit the clean farm in the US</a></h5>
                            <p>Sed quia non numquam modi tempora indunt ut labore et dolore magnam aliquam quaerat </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Related Blog Section End -->
{% endblock %}

{% block script %}

{% endblock %}