{% extends "base.html" %}

{% block title %}
Recipe detail
{% endblock %}

{% block content %}
<!-- Recipe Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="product__details__text">
                    <h2>{{recipe.name}}</h2>
                    <div class="row">
                        <div class="col-lg-3 col-md-4">
                            <div class="product__details__rating">
                                {% if recipe.rate >= 1 %}
                                    <i class="fa fa-star"></i>
                                {% else %}
                                     <i class="fa fa-star-o"></i>
                                {% endif %}
                                {% if recipe.rate >= 2 %}
                                    <i class="fa fa-star"></i>
                                {% else %}
                                     <i class="fa fa-star-o"></i>
                                {% endif %}
                                {% if recipe.rate >= 3 %}
                                    <i class="fa fa-star"></i>
                                {% else %}
                                     <i class="fa fa-star-o"></i>
                                {% endif %}
                                {% if recipe.rate >= 4 %}
                                    <i class="fa fa-star"></i>
                                {% else %}
                                     <i class="fa fa-star-o"></i>
                                {% endif %}
                                {% if recipe.rate >= 5 %}
                                    <i class="fa fa-star"></i>
                                {% else %}
                                     <i class="fa fa-star-o"></i>
                                {% endif %}
                                <span>({{recipe.recipe_review.count}} reviews)</span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <span><i class="fa fa-calendar-o"></i> {{recipe.create_at|date:"d-m-Y"}}</span>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <span><i class="fa fa-address-book" aria-hidden="true"></i> by <a href="#"> {{recipe.user.username}}</a></span>
                        </div>
                    </div>
                    <p> {{recipe.description}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="{{recipe.images.url}}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="checkout__order">
                        <div class="checkout__order__products"><i class="fa fa-clock-o"></i> Prep: <span>{{recipe.prep}}</span></div>
                        <div class="checkout__order__products"><i class="fa fa-clock-o"></i> Cook: <span>{{recipe.cook}}</span></div>
                        <div class="checkout__order__products"><i class="fa fa-user-o"></i> Servings: <span>{{recipe.servings}}</span></div>
                        <button  type="submit" class="btn btn-outline-secondary" id="calculate-button" data-toggle="modal" data-target="#result-modal">Nutrition Info</button>
                    </div>
                    <hr>
                    {% if favore %}
                        <a type="button" href="/add_favore/{{recipe.id}}" class="btn btn-success btn-circle btn-xl" ><i class="fa fa-heart"  style="font-size:36px;color:red"></i></a>
                    {% else %}
                        <a type="button" href="/add_favore/{{recipe.id}}" class="btn btn-success btn-circle btn-xl" ><i class="fa fa-heart" style="font-size:36px"></i></a>
                    {% endif %}
                    <hr>
                    {% if recipe.note %}
                    <div class="alert alert-light">
                      <strong>Note:</strong> {{recipe.note}}
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Reviews <span>(1)</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <h6 class="font-weight-bold">INGREDIENTS</h6>
                                            <form action="/add_shoplist/{{recipe.id}}" method='POST'>
                                                {% csrf_token %}
                                                <ul class="list-group list-group-flush">
                                                    {% for ing in recipe.ingredient.all %}
                                                    <li class="list-group-item">
                                                    <!-- Default checked -->
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="check{{forloop.counter}}" name="{{ing.id}}" value="{{ing.id}}">
                                                        <label class="custom-control-label" for="check{{forloop.counter}}">{{ing.content}}</label>
                                                    </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                                <br>
                                                <button  type="submit" class="btn btn-outline-secondary">Add to shopping list</button>
                                                </form>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <h6 class="font-weight-bold">DIRECTIONS</h6>
                                            <ol class="list-group">
                                                {% for dir in recipe.direction.all %}
                                                <li class="list-group-item list-group-item-action"><strong>Step {{forloop.counter}}:</strong> {{dir.content}}</li>
                                                {% endfor %}
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <button type="submit" class="site-btn" data-toggle="modal" data-target="#addreview">Add Rating & Review</button>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="rating-block">
                                            <h4>Average user rating</h4>
                                            <h2 class="bold padding-bottom-7">{{recipe.rate}} <small>/ 5</small></h2>
                                            {% if recipe.rate >= 1 %}
                                                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                   <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                </button>
                                            {% else %}
                                                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                                   <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                </button>
                                            {% endif %}
                                            {% if recipe.rate >= 2 %}
                                                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                   <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                </button>
                                            {% else %}
                                                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                                   <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                </button>
                                            {% endif %}
                                            {% if recipe.rate >= 3 %}
                                                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                   <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                </button>
                                            {% else %}
                                                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                                   <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                </button>
                                            {% endif %}
                                            {% if recipe.rate >= 4 %}
                                                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                   <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                </button>
                                            {% else %}
                                                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                                   <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                </button>
                                            {% endif %}
                                            {% if recipe.rate >= 5 %}
                                                <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                                                   <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                </button>
                                            {% else %}
                                                <button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
                                                   <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                                </button>
                                            {% endif %}
                                        </div>
                                    </div>
<!--                                    <div class="col-sm-3">-->
<!--                                        <h4>Rating breakdown</h4>-->
<!--                                        <div class="pull-left">-->
<!--                                            <div class="pull-left" style="width:35px; line-height:1;">-->
<!--                                                <div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>-->
<!--                                            </div>-->
<!--                                            <div class="pull-left" style="width:180px;">-->
<!--                                                <div class="progress" style="height:9px; margin:8px 0;">-->
<!--                                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">-->
<!--                                                    <span class="sr-only">80% Complete (danger)</span>-->
<!--                                                  </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="pull-right" style="margin-left:10px;">1</div>-->
<!--                                        </div>-->
<!--                                        <div class="pull-left">-->
<!--                                            <div class="pull-left" style="width:35px; line-height:1;">-->
<!--                                                <div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>-->
<!--                                            </div>-->
<!--                                            <div class="pull-left" style="width:180px;">-->
<!--                                                <div class="progress" style="height:9px; margin:8px 0;">-->
<!--                                                  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">-->
<!--                                                    <span class="sr-only">80% Complete (danger)</span>-->
<!--                                                  </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="pull-right" style="margin-left:10px;">1</div>-->
<!--                                        </div>-->
<!--                                        <div class="pull-left">-->
<!--                                            <div class="pull-left" style="width:35px; line-height:1;">-->
<!--                                                <div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>-->
<!--                                            </div>-->
<!--                                            <div class="pull-left" style="width:180px;">-->
<!--                                                <div class="progress" style="height:9px; margin:8px 0;">-->
<!--                                                  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">-->
<!--                                                    <span class="sr-only">80% Complete (danger)</span>-->
<!--                                                  </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="pull-right" style="margin-left:10px;">0</div>-->
<!--                                        </div>-->
<!--                                        <div class="pull-left">-->
<!--                                            <div class="pull-left" style="width:35px; line-height:1;">-->
<!--                                                <div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>-->
<!--                                            </div>-->
<!--                                            <div class="pull-left" style="width:180px;">-->
<!--                                                <div class="progress" style="height:9px; margin:8px 0;">-->
<!--                                                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">-->
<!--                                                    <span class="sr-only">80% Complete (danger)</span>-->
<!--                                                  </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="pull-right" style="margin-left:10px;">0</div>-->
<!--                                        </div>-->
<!--                                        <div class="pull-left">-->
<!--                                            <div class="pull-left" style="width:35px; line-height:1;">-->
<!--                                                <div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>-->
<!--                                            </div>-->
<!--                                            <div class="pull-left" style="width:180px;">-->
<!--                                                <div class="progress" style="height:9px; margin:8px 0;">-->
<!--                                                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">-->
<!--                                                    <span class="sr-only">80% Complete (danger)</span>-->
<!--                                                  </div>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="pull-right" style="margin-left:10px;">0</div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </div>
                                <div class="row">
                                    <div class="col-sm-7">
                                        <hr/>
                                        <div class="review-block">
                                            {% for rev in recipe.recipe_review.all %}
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <img src="http://dummyimage.com/60x60/666/ffffff&text=No+Image" class="img-rounded">
                                                        <div class="review-block-name"><a href="#">{{rev.user.username}}</a></div>
                                                        <div class="review-block-date">{{rev.create_at|date:"d-m-Y"}}</div>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <div class="review-block-rate">
                                                            {% if rev.rate >= 1 %}
                                                                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                                   <span class="fa fa-star" aria-hidden="true"></span>
                                                                </button>
                                                            {% else %}
                                                                 <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                                    <span class="fa fa-star" aria-hidden="true"></span>
                                                                 </button>
                                                            {% endif %}
                                                            {% if rev.rate >= 2 %}
                                                                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                                   <span class="fa fa-star" aria-hidden="true"></span>
                                                                </button>
                                                            {% else %}
                                                                 <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                                    <span class="fa fa-star" aria-hidden="true"></span>
                                                                 </button>
                                                            {% endif %}
                                                            {% if rev.rate >= 3 %}
                                                                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                                   <span class="fa fa-star" aria-hidden="true"></span>
                                                                </button>
                                                            {% else %}
                                                                 <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                                    <span class="fa fa-star" aria-hidden="true"></span>
                                                                 </button>
                                                            {% endif %}
                                                            {% if rev.rate >= 4 %}
                                                                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                                   <span class="fa fa-star" aria-hidden="true"></span>
                                                                </button>
                                                            {% else %}
                                                                 <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                                    <span class="fa fa-star" aria-hidden="true"></span>
                                                                 </button>
                                                            {% endif %}
                                                            {% if rev.rate >= 5 %}
                                                                <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                                                                   <span class="fa fa-star" aria-hidden="true"></span>
                                                                </button>
                                                            {% else %}
                                                                 <button type="button" class="btn btn-default btn-grey btn-xs" aria-label="Left Align">
                                                                    <span class="fa fa-star" aria-hidden="true"></span>
                                                                 </button>
                                                            {% endif %}
                                                        </div>
                                                        <div class="review-block-title">Content</div>
                                                        <div class="review-block-description">{{rev.content}}</div>
                                                    </div>
                                                </div>
                                                <hr/>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Recipe Details Section End -->

    <div class="modal" id="result-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">Nutrion</div>
                    <button type="button" id="modal-close" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
    <!--                <div id="nutrition-chart" style="width: 100%; min-height: 300px"></div>-->
                    <div id="nutrition-table" class="siimple-table siimple-table--border">
                        <div class="siimple-table-header">
                            <div class="siimple-table-row">
                                <div class="siimple-table-cell">Nutrient</div>
                                <div class="siimple-table-cell">Summary</div>
                                <div class="siimple-table-cell">Serving</div>
                            </div>
                        </div>
                        <div class="siimple-table-body" id="nutrition-table-body">
                            <div class="siimple-table-row"><div class="siimple-table-cell">Energy</div><div class="siimple-table-cell">{{nutrition.ENERGY.0}} {{nutrition.ENERGY.2}}</div><div class="siimple-table-cell">{{nutrition.ENERGY.1}} {{nutrition.ENERGY.2}}</div></div>
                            <div class="siimple-table-row"><div class="siimple-table-cell">Fat</div><div class="siimple-table-cell">{{nutrition.FAT.0}} {{nutrition.FAT.2}}</div><div class="siimple-table-cell">{{nutrition.FAT.1}} {{nutrition.FAT.2}}</div></div>
                            <div class="siimple-table-row"><div class="siimple-table-cell">Protein</div><div class="siimple-table-cell">{{nutrition.PROTEIN.0}} {{nutrition.PROTEIN.2}}</div><div class="siimple-table-cell">{{nutrition.PROTEIN.1}} {{nutrition.PROTEIN.2}}</div></div>
                            <div class="siimple-table-row"><div class="siimple-table-cell">Carbs</div><div class="siimple-table-cell">{{nutrition.CARB.0}} {{nutrition.CARB.2}}</div><div class="siimple-table-cell">{{nutrition.CARB.1}} {{nutrition.CARB.2}}</div></div>
                            <div class="siimple-table-row"><div class="siimple-table-cell">Sat Fat</div><div class="siimple-table-cell">{{nutrition.FAT_SAT.0}} {{nutrition.FAT_SAT.2}}</div><div class="siimple-table-cell">{{nutrition.FAT_SAT.1}} {{nutrition.FAT_SAT.2}}</div></div>
                            <div class="siimple-table-row"><div class="siimple-table-cell">Polyunsat Fat</div><div class="siimple-table-cell">{{nutrition.FAT_POLY.0}} {{nutrition.FAT_POLY.2}}</div><div class="siimple-table-cell">{{nutrition.FAT_POLY.1}} {{nutrition.FAT_POLY.2}}</div></div>
                            <div class="siimple-table-row"><div class="siimple-table-cell">Monounsat Fat</div><div class="siimple-table-cell">{{nutrition.FAT_MONO.0}} {{nutrition.FAT_MONO.2}}</div><div class="siimple-table-cell">{{nutrition.FAT_MONO.1}} {{nutrition.FAT_MONO.2}}</div></div>
                            <div class="siimple-table-row"><div class="siimple-table-cell">Sugar</div><div class="siimple-table-cell">{{nutrition.SUGAR.0}} {{nutrition.SUGAR.2}}</div><div class="siimple-table-cell">{{nutrition.SUGAR.1}} {{nutrition.SUGAR.2}}</div></div>
                            <div class="siimple-table-row"><div class="siimple-table-cell">Chole</div><div class="siimple-table-cell">{{nutrition.CHOLE.0}} {{nutrition.CHOLE.2}}</div><div class="siimple-table-cell">{{nutrition.CHOLE.1}} {{nutrition.CHOLE.2}}</div></div>
                            <div class="siimple-table-row"><div class="siimple-table-cell">Sodium</div><div class="siimple-table-cell">{{nutrition.SODIUM.0}} {{nutrition.SODIUM.2}}</div><div class="siimple-table-cell">{{nutrition.SODIUM.1}} {{nutrition.SODIUM.2}}</div></div>
                            <div class="siimple-table-row"><div class="siimple-table-cell">Potas</div><div class="siimple-table-cell">{{nutrition.POTAS.0}} {{nutrition.POTAS.2}}</div><div class="siimple-table-cell">{{nutrition.POTAS.1}} {{nutrition.POTAS.2}}</div></div>
                            <div class="siimple-table-row"><div class="siimple-table-cell">Fiber</div><div class="siimple-table-cell">{{nutrition.FIBER.0}} {{nutrition.FIBER.2}}</div><div class="siimple-table-cell">{{nutrition.FIBER.1}} {{nutrition.FIBER.2}}</div></div></div>
                        </div>
                </div>
                <div class="modal-footer">
                    Note that presented values are approximate and shouldn't be considered as real.
                </div>
            </div>
        </div>
    </div>
    <!-- The Modal Search by Ingredient -->
    <div id="addreview" class="modal fade">
            <div class="modal-content">
                <form action="/detail/{{recipe.id}}" method='POST' id="review_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h4 class="col-12 modal-title text-center">Review this recipe</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                        <div class="col-lg-6">
                            <div class="rating">
                                <label>
                                  <input type="radio" name="stars" value="1" />
                                  <span class="icon">★</span>
                                </label>
                                <label>
                                  <input type="radio" name="stars" value="2" />
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                </label>
                                <label>
                                  <input type="radio" name="stars" value="3" />
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                </label>
                                <label>
                                  <input type="radio" name="stars" value="4" />
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                </label>
                                <label>
                                  <input type="radio" name="stars" value="5" />
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                  <span class="icon">★</span>
                                </label>
                              </div>
                            <div class="form-group">
                                <textarea class="review" name="content" form="review_form" placeholder="What did you think about this recipe? Did you make any changes or notes? " rows="4"></textarea>
                                </textarea>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Upload Image</label>
                                <div class="col-sm-12 imgUp">
                                    <div class="imagePreview"></div>
                                <label class="btn btn-primary">
                                Upload<input name="images" type="file" class="uploadFile img" value="Upload Photo" style="width: 0px;height: 0px;overflow: hidden;">
                                </label>
                            </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="search-btn" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- The Modal Search by Ingredient -->

    <!-- Related Blog Section Begin -->
    <section class="related-blog spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related-blog-title">
                        <h2>Related Recipe</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for rec in related_recipe %}
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="blog__item">
                            <div class="blog__item__pic">
                                <img src="{{rec.images.url}}" alt="{{rec.name}}">
                            </div>
                            <div class="blog__item__text">
                                <ul>
                                    <li><i class="fa fa-calendar-o"></i> {{rec.create_at|date:"d-m-Y"}}</li>
                                    <li><i class="fa fa-comment-o"></i> {{rec.recipe_review.count}}</li>
                                </ul>
                                <h5><a href="/detail/{{rec.id}}">{{rec.name}}</a></h5>
                                <p>{{rec.description}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Related Blog Section End -->
{% endblock %}

{% block script %}
<script>
    var namesForNutrients = units = {
        "ENERGY": "Energy",
        "FAT": "Fat",
        "PROTEIN": "Protein",
        "CARB": "Carbs",
        "FAT_SAT": "Sat Fat",
        "FAT_POLY": "Polyunsat Fat",
        "FAT_MONO": "Monounsat Fat",
        "SUGAR": "Sugar",
        "CHOLE": "Chole",
        "SODIUM": "Sodium",
        "POTAS": "Potas",
        "FIBER": "Fiber",
    }
    var chart = null;
    function createChart(data) {
        chart = echarts.init(document.getElementById("nutrition-chart"))
        option = {
            title: {
                text: `Total energy: ${data.nutrition.ENERGY[0]} kcal`,
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c}g ({d}%)"
            },
            legend: {
                bottom: 40,
                left: 'center',
                data: ['Fat', 'Protein', 'Carbs']
            },
            series: [
                {
                    name: 'Nutrition',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '45%'],
                    data: [
                        { value: data.nutrition.FAT[0], name: 'Fat', itemStyle: { color: '#FDE74C' } },
                        { value: data.nutrition.PROTEIN[0], name: 'Protein', itemStyle: { color: '#5BC0EB' } },
                        { value: data.nutrition.CARB[0], name: 'Carbs', itemStyle: { color: '#9BC53D' } },
                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        chart.setOption(option, true);
    }
    function dropChart() {
        chart.clear()
    }
    function postData() {
        var json = JSON.parse({{nutrion_data}});
        // Show modal before creating chart
        document.getElementById("result-modal").style.display = "";
        createChart(json);
        fillNutritionTable(json);
    }
    function fillNutritionTable(data) {
        data = Object.entries(data.nutrition);
        var table = document.getElementById("nutrition-table-body");
        for (var i = 0; i < data.length; i++) {
            // Prepare data
            var name = namesForNutrients[data[i][0]];
            var unit = data[i][1][2];
            var summary = `${data[i][1][0]} ${unit}`;
            var serving = `${data[i][1][1]} ${unit}`;
            // Create a row
            var row = document.createElement("div");
            row.className = "siimple-table-row"
            // Fill in row
            var name_div = document.createElement("div");
            name_div.className = "siimple-table-cell";
            name_div.innerHTML = name;
            var summary_div = document.createElement("div");
            summary_div.className = "siimple-table-cell";
            summary_div.innerHTML = summary;
            var serving_div = document.createElement("div");
            serving_div.className = "siimple-table-cell";
            serving_div.innerHTML = serving;
            row.appendChild(name_div);
            row.appendChild(summary_div);
            row.appendChild(serving_div);
            // Add row to table
            table.appendChild(row);
        }
    }
    function clearNutritionTable() {
        var table = document.getElementById("nutrition-table-body");
        table.innerHTML = '';
    }
    function showNutrition() {
         var json = JSON.parse({{nutrion_data}});
        // Show modal before creating chart
        createChart(json);
        fillNutritionTable(json);
    }
<!--    document.getElementById("calculate-button").addEventListener("click", function () {-->
<!--        var json = JSON.parse({{nutrion_data}});-->
<!--        // Show modal before creating chart-->
<!--        document.getElementById("result-modal").style.display = "";-->
<!--        createChart(nutrion_data);-->
<!--        fillNutritionTable(nutrion_data);-->
<!--    });-->
    document.getElementById("modal-close").addEventListener("click", function () {
        document.getElementById("result-modal").style.display = "none";
        dropChart();
        clearNutritionTable();
    });
</script>
{% endblock %}