{% extends "base.html" %}

{% block title %}
Share Recipe
{% endblock %}

{% block content %}
    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                                <li><a href="/add">Add recipe</a></li>
                                <li><a href="/share_recipe">Shared recipes</a></li>
                                <li><a href="/favore_recipe">Favorite recipes</a></li>
                                <li><a href="/shop_list">Shopping List</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    <div class="section-title product__discount__title">
                        <h2>Shared recipes</h2>
                    </div>
                    <div class="shoping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th class="shoping__product">Recipe</th>
                                    <!-- <th>Date</th> -->
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for rec in recipes %}
                                <tr>
                                    <td class="shoping__cart__item">
                                        <img src="{{rec.images.url}}" alt="{{rec.name}}">
                                        <h5>{{rec.name}}</h5>
                                    </td>
                                    <td class="shoping__cart__quantity">
                                        <a class="btn btn-warning" href="/edit/{{rec.id}}">Update</a>
                                    </td>
                                    <td class="shoping__cart__total">
                                        <form action="/share_recipe" method='POST'>
                                        {% csrf_token %}
                                            <input type="hidden" id="pk" name="pk" value="{{rec.id}}">
                                            <button class="btn btn-danger">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!--Pagination-->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                            {% if recipes.has_previous %}
                                <li class="page-item">
                                <a class="page-link" href="?page={{ recipes.previous_page_number }}">Previous</a>
                              </li>
                            {% else %}
                                <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                              </li>
                            {% endif %}

                            {% if recipes.number|add:'-4' > 1 %}
                                <li class="page-item"><a class="page-link" href="?page={{ recipes.number|add:'-5' }}">&hellip;</a></li>
                            {% endif %}

                            {% for i in recipes.paginator.page_range %}
                                {% if recipes.number == i %}
                                    <li class="page-item active" aria-current="page">
                                  <span class="page-link">
                                    {{ i }}
                                    <span class="sr-only">(current)</span>
                                  </span>
                                </li>
                                {% elif i > recipes.number|add:'-5' and i < recipes.number|add:'5' %}
                                     <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if recipes.paginator.num_pages > recipes.number|add:'4' %}
                               <li class="page-item"><a class="page-link" href="?page={{ recipes.number|add:'5' }}">&hellip;</a></li>
                            {% endif %}

                            {% if recipes.has_next %}
                                <li class="page-item">
                                <a class="page-link" href="?page={{ recipes.next_page_number }}">Next</a>
                              </li>
                            {% else %}
                                <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                              </li>
                            {% endif %}
                          </ul>
                        </nav>
                        <!--end of Pagination-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
{% endblock %}

{% block script %}

{% endblock %}