{% extends "base_admin.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
  <div class="content">
    <div class="row">
        <div class="col-md-12">
          <div class="card card-user">
            <div class="card-header">
              <h5 class="card-title">Change Password</h5>
            </div>
            <div class="card-body">
<!--              {% load widget_tweaks %}-->
              <form action="{% url 'password' %}" method='POST' >
                  {% csrf_token %}
<!--                  {{ form }}-->
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        {{ form.old_password.errors }}
                          {{ form.old_password.help_text }}
                        <label for="{{ form.old_password.id_for_label }}">Old password:</label>
                        {{ form.old_password|add_class:"form-control" }}
<!--                        <input name="old_password" type="password" class="form-control" placeholder="Old password" required>-->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        {{ form.new_password1.errors }}
                          {{ form.new_password1.help_text }}
                        <label for="{{ form.new_password1.id_for_label }}">New password::</label>
                        {{ form.new_password1|add_class:"form-control" }}
<!--                        <input name="new_password1" type="password" class="form-control" placeholder="New password" required>-->
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        {{ form.new_password2.errors }}
                          {{ form.new_password2.help_text }}
                        <label for="{{ form.new_password2.id_for_label }}">New password confirmation:</label>
                        {{ form.new_password2|add_class:"form-control" }}
<!--                        <input name="new_pssword1" type="password" class="form-control" placeholder="New password confirmation" required>-->
                      </div>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-success btn-round">Save changes</button>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block script %}

{% endblock %}