{% extends "base_admin.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
  <div class="content">
    <div class="row">
        <div class="col-md-12">
          <div class="card card-user">
            <div class="card-header">
              <h5 class="card-title">Change Password</h5>
            </div>
            <div class="card-body">
<!--              {% load widget_tweaks %}-->
              <form action="{% url 'password' %}" method='POST' >
                  {% csrf_token %}
<!--                  {{ form }}-->
                  {% for field in form %}
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                            {{ field.label_tag }}
                            {{ field|add_class:"form-control" }}
                            {{ field.help_text }}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
<!--                        <input name="old_password" type="password" class="form-control" placeholder="Old password" required>-->
                      </div>
                    </div>
                  </div>
                    {% endfor %}
                  <button type="submit" class="btn btn-success btn-round">Save changes</button>
              </form>
            </div>
          </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block script %}

{% endblock %}